body {
  margin: 0;
  padding: 0;
}

p, h1 {
  margin: 0;
  padding: 0;
}

/* ヘッダー */
.header {
  background-color: #80808040;
  height: 100px;
  width: 100%;
}

.header-wrapper {
  width: 80%;
  height: 100px;
  margin: 0 auto;
}

.header-left {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.header-left > p {
  display: inline-block;
  width: 50px;
}

.header-left > select {
  width: 200px;
}

.header-right {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.header-right > button {
  border-radius: 5px;
  background-color: #e1e439d5;
  color: white;
  width: 150px;
  text-align: center;
  font-size: 16px;
  border: 0px;
}

.header-right > button:hover {
  background-color: #bcbe27d5;
  cursor: pointer;
}

.mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal {
  background-color: #fff;
  width: 500px;
  position: absolute;
  top: 250px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

.modal > p {
  margin: 10px;
}

.modal > input {
  width: 100%;
  box-sizing: border-box;
}

.url {
  margin: 20px 0px 20px 0px;
}
.modal-buttons {
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-around;
}

.modal-buttons > button {
  width: 100px;
  border-radius: 5px;

}

/* コンテナ */
.container {
  width: 80%;
  margin: 0 auto;
}

.bookmark-wrapper {
  margin: 20px 0px;
}

.title > a {
  font-size: 28px;
  text-decoration: none;
  color: rgb(50, 50, 50);
}

.title > a:hover {
  font-size: 32px;
  color: rgb(0, 0, 0);
}
